name: Build DEB Package

on:
  push:
    branches: [ "main" ]  # 当代码推送到 main 分支时触发
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential devscripts debhelper dh-make

      - name: Build .deb package
        run: |
          # 给予 rules 文件执行权限
          chmod +x debian/rules
          # 开始构建（-us -uc 表示不进行名）
          dpkg-buildpackage -us -uc -b

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: debian-package
          path: ../*.deb  # 编译出的 deb 文件通常在上一级目录
